<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccountMakingPractice</title>
    <link rel="stylesheet" href="AccountMakingPractice.css" type="text/css" />
</head>
