<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav id="menu">
        <button id="HomeButton">Home</button>
        <button id="CreateAccountButton">Register Account</button>
        <button id="LoginButton">Login</button>
    </nav>
    
    <div>Welcome to petopia!</div>
    <script type="module" src="/app.js"></script>        
</body>
</html>