<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/navbar'); -%>



  <% if (loggedIn) { %>


    <body>
      
      <div>Welcome to petopia!</div>
      <div id="yourid"></div>

    <% } %>




  <% if (!loggedIn) { %>



  <section id="login">
    <div>Login Here</div>
    
    <form id="form" action="/loginaction" method="post">
        
        <label for="userlogin"> username </label>
        <input type="text" name="userlogin" id="userlogin" required />
      </div>
    
      <label for="passwordlogin">password </label>
      <input type="text" name="passwordlogin" id="passwordlogin" required />
      <button id="button" value="Subscribe!">Login!</button>
    </div>
    </section>
    
    <% } %>



  <script type="module" src="/app.js"></script>    
</body>
</html>