<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/navbar'); -%>

<section id="register">
<div>Create a User Account Here</div>

<form id="form" action="/register" method="post">
    
    <label for="userregister">Create a username: </label>
    <input type="text" name="userregister" id="userregister" required />
  </div>
  <div class="form-example">
    <label for="emailregister">Enter your email: </label>
    <input type="email" name="emailregister" id="emailregister"  />
  </div>
  <label for="passwordregister">Create a password: </label>
  <input type="text" name="passwordregister" id="passwordregister" required />
  <button id="button" value="Subscribe!">EJS!</button>
</div>


  
</section>


<script type="module" src="/app.js"></script>    
</body>
</html>